html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (max-width: 1090px) and (min-width: 406px) {

  #monkey {
    top: 240px;
  }
}


@media only screen and (max-width: 696px) and (min-width: 650px) {

  #dolphin {
    top: 280px;
    transform: rotate(-270deg);
  }
}
